/*************************************************
    GENERAL STYLES
 *************************************************/


 body{
    height: 100vh;
 }

 .web-application{
    height: calc(100% - 90px);
 }


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
li,
p,
a {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: 1rem;
}


ul{
    list-style: none;
}



/************************************************
    UTILITIES
 ************************************************/


 .row{
    display: flex;
 }

 .column{
    display: flex;
    flex-direction: column;
 }


 .display-n {
    display: none;
 }


/************************************************
    WEB APPLICATION SECTIONS
 ************************************************/


 /* MENU */

 .menu{
    background-color: black;
    width: 15vw;
 }

 .menu a{
    color: #858585;
    text-decoration: none;
 }

/* LOGO */

 .logo-image{
    padding: 1rem;
 }

#logo-small{
    display: block;
}

/* SECTION */

.menu-link{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.section-menu{
    align-items: center;
}

.small-img{
    color: #151922;
    width: 24px;
 }

 .home{
    background-color: #151922;
    width: 85vw;
 }

 footer{
    background-color: #282828;
    height: 90px;
 }


 /************************************************
      RESPONSIVE
 ************************************************/


 @media screen and (min-width: 992px) {

    /* LOGO */

    #logo-small{
        display: none;
    }
    #logo-big{
        display: block;
    }

    /* SECTION */


    .section-menu{
        align-items: start;
    }

    a .display-n{
        display: inline;
    }
 }